.boton-contenedor{
  height: 83px;
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #F9982F;
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.boton-contenedor:hover{
  background-color: #E37239;

}
.operador {
  background-color: #2A9D8F;
}

.operador:hover{
  background-color: #f46607ef;
}